@page
@model Telemedicina.App.Frontend.Pages.MedicosModel
@{
}
<h3>Listado de pacientes </h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Código</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Especialidad</th>
      <th scope="col">Cita</th>
      <th scope="col">Registro Médico</th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>001</td>
      <td>Peter</td>
      <td>Pan</td>
      <td>Cirujano</td>
      <td>---</td>
      <td>---</td>
      <td><button type="button" class="btn btn-dark">Editar</button></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>001</td>
      <td>Lidya</td>
      <td>Franco</td>
      <td>Médico General</td>
      <td>---</td>
      <td>---</td>
      <td><button type="button" class="btn btn-dark">Editar</button></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>001</td>
      <td>Fernando</td>
      <td>Manrique</td>
      <td>Ortopedista</td>
      <td>---</td>
      <td>---</td>
      <td><button type="button" class="btn btn-dark">Editar</button></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>001</td>
      <td>Francisco</td>
      <td>Torres</td>
      <td>Cardíologo</td>
      <td>---</td>
      <td>---</td>
      <td><button type="button" class="btn btn-dark">Editar</button></td>
    </tr>
  </tbody>
</table>