@page
@model Telemedicina.App.Frontend.Pages.DatosModel
@{
}
<h3>Listado de pacientes </h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Telefono</th>
      <th scope="col">Genero</th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Otto</td>
      <td>Octavius</td>
      <td>0000001</td>
      <td>Masculino</td>
      <td><button type="button" class="btn btn-dark">Editar</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Leeroy</td>
      <td>Jenkins</td>
      <td>0000002</td>
      <td>Masculino</td>
      <td><button type="button" class="btn btn-dark">Editar</button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Miriam</td>
      <td>Cruz</td>
      <td>0000003</td>
      <td>Femenino</td>
      <td><button type="button" class="btn btn-dark">Editar</button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the monkey</td>
      <td>0000004</td>
      <td>Monkey</td>
      <td><button type="button" class="btn btn-dark">Editar</button></td>
    </tr>
  </tbody>
</table>