@page
@model Telemedicina.App.Frontend.Pages.ListaSedesModel
@{
}
<h3>Listado de pacientes </h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Sede</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Telefono</th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sede Dosquebradas</td>
      <td>Pereira</td>
      <td>(6) 0000001</td>
      <td><button type="button" class="btn btn-dark">Editar</button></td>
    </tr>
    <tr>
      <td>Sede Zona Rosa del Oriente</td>
      <td>Manizales</td>
      <td>(6) 0000002</td>
      <td><button type="button" class="btn btn-dark">Editar</button></td>
    </tr>
    <tr>
      <td>Sede La Castellana</td>
      <td>Armenia</td>
      <td>(6) 0000003</td>
      <td><button type="button" class="btn btn-dark">Editar</button></td>
    </tr>
    <tr>
      <td>Sede Laureles</td>
      <td>Medellin</td>
      <td>(4) 0000004</td>
      <td><button type="button" class="btn btn-dark">Editar</button></td>
    </tr>
  </tbody>
</table>